html {
  box-sizing: border-box;
}

:before,
after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: calc(17px + 0.3vw);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

p {
  margin-top: 0px;
  letter-spacing: -0.24px;
  line-height: 1.66;
  word-spacing: 0.01em;
  word-spacing: -0.09px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1.5px;
}
