html {
  box-sizing: border-box;
}

:before,
after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: calc(17px + 0.3vw);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #fafafa;
  color: rgb(46, 68, 78);
}

p {
  margin-top: 0px;
  letter-spacing: -0.24px;
  line-height: 1.66;
}

h1 {
  font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SF Mono', Menlo, monospace;
  letter-spacing: -2px;
}
